<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertPost">
        INSERT INTO POSTS (title, content)
        VALUES (?,?);

    </entry>

    <entry key="selectAllPost">
        SELECT
        *
        FROM POSTS;
    </entry>

    <entry key="selectOnePost">
        SELECT
        *
        FROM POSTS
        WHERE ID = ?
    </entry>

    <entry key="updatePost">
        UPDATE
        POSTS
        SET TITLE = ?,
        CONTENT = ?
        WHERE ID =?
    </entry>

    <entry key="deletePost">
        DELETE
        FROM POSTS
        WHERE ID=?
    </entry>

</properties>